main {
  min-height: 80vh;
}

body {
  overflow-x: hidden;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5rem;
}

.logo {
  max-width: 150px;
  margin-right: 20px;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.nav-link {
  padding: 10px 15px;
}

.nav-link:hover {
  cursor: pointer;
}
.nav-link .fas {
  padding-right: 7px;
}

.navbar-brand {
  cursor: pointer;
}

.list-group-item,
.btn,
.nav-link {
  transition: 0.3s;
}

.navbar-brand::selection {
  background-color: transparent;
}

.form-control {
  padding: 0.5rem;
}

.card:hover {
  position: relative;
  box-shadow: 0px 0px 10px rgba(206, 207, 207, 0.589);
  transform: scale(1.01);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
