main {
  min-height: 80vh;
}

.logo {
  max-width: 150px;
  margin-right: 20px;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  cursor: pointer;
}
.nav-link .fas {
  padding: 7px;
}

.navbar-brand {
  cursor: pointer;
}

.list-group-item,
.btn,
.nav-link {
  transition: 0.3s;
}

.navbar-brand::selection {
  background-color: transparent;
}

.card:hover {
  position: relative;
  box-shadow: 0px 0px 10px rgba(206, 207, 207, 0.589);
  transform: scale(1.01);
  transition: 0.3s;
}
